.wrapper {
  .content-all {
    &.content-contacts {
      padding-top: 67px;

      .contacts {
        display: flex;
        width: 100%;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        color: #404040;

          .preview-video {
            margin-right: 20px;
            width: 70%;

            .contact-video {
              max-width: 100%;
              width: 100%;
            }
          }

          .contacts-info {
            width: 30%;
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .info {
              font-size: 21px;
            }

            p {
              margin-bottom: 0;
            }

            a {
              text-decoration: none;
              outline: none;
              color: #404040;
              transition: all .5s ease;

              &:hover {
                color: #D5B45B;
              }
            }

            .name {
              margin-top: 0;
            }

            .description {
              text-align: center;
              line-height: 25px;
              margin-bottom: 20px;
            }
        }
      }
    }
  }

  footer {
    .contacts-footer {
      text-align: center;

      span {
        font-size: 14px;
      }
    }
  }
}