.wrapper {
  .content-all {
    &.content-contacts {
      padding-top: 67px;

      .contacts {
        display: flex;
        width: 60%;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        height: 81vh;

        .left-side {
          width: 50%;

          .contact-photo {
            width: 85%;
            margin: auto;

            img {
              max-width: 100%;
            }
          }
        }

        .right-side {
          width: 50%;

          .contacts-info {
            width: 90%;

            a {
              text-decoration: none;
              outline: none;
              color: #404040;
              transition: all .5s ease;

              &:hover {
                color: #D5B45B;
              }
            }

            .name {
              margin-top: 0;
            }

            .description {
              text-align: center;
              line-height: 25px;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }

  footer {
    .contacts-footer {
      text-align: center;

      span {
        font-size: 14px;
      }
    }
  }
}