@import 'header.less';

@import url('https://fonts.googleapis.com/css?family=Quicksand:300&display=swap');

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

.my-icon {
  line-height: inherit;
}
.hamburger {
  display: none;
}
.text-center {
  text-align: center;
}

.slider_content {
  .main_slider {
    .owl-item {
      .item {
        width: 100%;
        height: calc(100vh - 200px);
        background-size: cover;
        background-position: 100%;

        &:before {
          content: "";
          background: #020202;
          opacity: 0.8;
          position: absolute;
          width: 100%;
          height: 100%;
          transition: all .5s ease-in-out;
        }
      }
    }

    .owl-item.active.center {
      .item {
        &:before {
          opacity: 0;
        }
      }
    }
  }
}

.wrapper {
  height: 100vh;

  .content-all {
    min-height: 76vh;

    .grid {
      padding-top: 95px;
    }
  }

  .content-wrapper {

    .slider_content {
      .owl-nav {
        position: absolute;
        width: 100%;
        top: 45%;
      }
    }

    button.owl-next {
      font-size: 50px;
      color: #fff;
      right: 5%;
      position: absolute;
      outline: none;
      opacity: 0.3;
      transition: all .5s ease;

      &:hover {
        opacity: 1;
      }
    }

    button.owl-prev {
      font-size: 50px;
      color: #fff;
      left: 5%;
      position: absolute;
      outline: none;
      opacity: 0.3;
      transition: all .5s ease;

      &:hover {
      opacity: 1;
    }
    }
  }
}

.scrollTop {
  /* по-умолчанию скрыта */
  display: none;
  /* скругяем углы */
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  /* фиксируем позицию кнопки */
  position: fixed;
  /* размеры кнопки */
  width: 60px;
  height: 60px;
  /* положение кнопки */
  right: 1rem;
  bottom: 1rem;
  /* вид курсора */
  cursor: pointer;
  /* эффект перехода между двумя состояниями кнопки */
  -webkit-transition: bottom 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: bottom 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  -ms-transition: bottom 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: bottom 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  transition: bottom 0.2s cubic-bezier(0.42, 0, 0.58, 1)
}
/* смещение кнопки вверх при наведении */

.scrollTop:hover {
  bottom: 2rem
}

/* дополнительные элементы офрмления кнопки */

.scrollTop:before,
.scrollTop:after {
  content: "";
  top: 0;
  left: 0;
  background-color: #d5b45b;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
}

/* определяем имя, тип и скорость анимации лля :before */
.scrollTop:before {
  background-color: #d5b45b;
  -webkit-animation: clickMe 1.8s 333ms infinite ease-out;
  -moz-animation: clickMe 1.8s 333ms infinite ease-out;
  animation: clickMe 1.8s 333ms infinite ease-out
}

/* определяем имя, тип и скорость анимации лля :after */
.scrollTop:after {
  -webkit-animation: clickMe 1.8s 777ms infinite ease-out;
  -moz-animation: clickMe 1.8s 777ms infinite ease-out;
  animation: clickMe 1.8s 777ms infinite ease-out
}

/* формируем вид иконки */
.scrollTop i {
  width: 30px;
  height: 30px;
  display: block;
  background: rgba(213, 180, 90, 0.61);
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 1.3rem;
  background-size: 12px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 100
}

/* анимация */
@-webkit-keyframes clickMe {
  0% {
    opacity: 0;
    -webkit-transform: scale(0)
  }
  5% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@-moz-keyframes clickMe {
  0% {
    opacity: 0;
    -moz-transform: scale(0)
  }
  5% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@keyframes clickMe {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0)
  }
  5% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #D5B45B;
  stroke-width:5.5;
  stroke-linecap:round;
}

.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
  stroke-dashoffset: -64px;
}
.ham8.active .middle {
  transform: rotate(90deg);
}
.ham8.active .bottom {
  stroke-dashoffset: -64px;
}



@import 'album';
@import 'portfolio';
@import 'contacts';
@import 'blog';
@import 'footer';
@import 'media';