header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0px -8px 8px 4px;
  position: fixed;
  background: #fff;
  width: 100%;
  z-index: 1000;
}
header .logo {
  color: #D5B45B;
  font-family: 'Playfair Display', serif;
  padding: 10px 0;
}
header .logo a {
  font-size: 2.5em;
  text-decoration: none;
  color: inherit;
}
header .logo span {
  display: block;
  text-align: center;
}
header .menu {
  display: flex;
  width: 66%;
}
header .menu nav {
  display: table;
  margin: 0 auto;
}
header .menu nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header .menu nav ul a,
header .menu nav ul span {
  text-decoration: none;
  outline: none;
  display: block;
  transition: 0.3s ease-in-out;
}
header .menu nav ul.top_menu {
  display: flex;
  justify-content: space-between;
}
header .menu nav ul.top_menu:after {
  content: "";
  display: table;
  clear: both;
}
header .menu nav ul.top_menu > li {
  float: left;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
header .menu nav ul.top_menu > li .submenu {
  background: #273037;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  width: 180px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: 0.5s ease-in-out;
}
header .menu nav ul.top_menu > li .submenu a,
header .menu nav ul.top_menu > li .submenu span {
  color: white;
  text-align: left;
  padding: 12px 15px;
  font-size: 13px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
header .menu nav ul.top_menu > li .submenu li:last-child a {
  border-bottom: none;
}
header .menu nav ul.top_menu > li > a,
header .menu nav ul.top_menu > li > span {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  color: #404040;
  padding: 15px 20px;
}
header .menu nav ul.top_menu > li span.submenu-link:after {
  content: "\f107";
  font-family: "FontAwesome";
  color: inherit;
  margin-left: 10px;
}
header .menu nav ul.top_menu > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}
header .menu nav ul.top_menu li a:hover,
header .menu nav ul.top_menu li span:hover {
  color: #D5B45B;
  cursor: pointer;
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v19/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkKEo58a-xw.ttf) format('truetype');
}
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}
.my-icon {
  line-height: inherit;
}
.hamburger {
  display: none;
}
.text-center {
  text-align: center;
}
.slider_content .main_slider .owl-item .item {
  width: 100%;
  height: calc(100vh - 200px);
  background-size: cover;
  background-position: 100%;
}
.slider_content .main_slider .owl-item .item:before {
  content: "";
  background: #020202;
  opacity: 0.8;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.slider_content .main_slider .owl-item.active.center .item:before {
  opacity: 0;
}
.wrapper {
  height: 100vh;
}
.wrapper .content-all {
  min-height: 80vh;
}
.wrapper .content-all .grid {
  padding-top: 95px;
}
.wrapper .content-wrapper .slider_content .owl-nav {
  position: absolute;
  width: 100%;
  top: 45%;
}
.wrapper .content-wrapper button.owl-next {
  font-size: 50px;
  color: #fff;
  right: 5%;
  position: absolute;
  outline: none;
  opacity: 0.3;
  transition: all 0.5s ease;
}
.wrapper .content-wrapper button.owl-next:hover {
  opacity: 1;
}
.wrapper .content-wrapper button.owl-prev {
  font-size: 50px;
  color: #fff;
  left: 5%;
  position: absolute;
  outline: none;
  opacity: 0.3;
  transition: all 0.5s ease;
}
.wrapper .content-wrapper button.owl-prev:hover {
  opacity: 1;
}
.scrollTop {
  /* по-умолчанию скрыта */
  display: none;
  /* скругяем углы */
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  /* фиксируем позицию кнопки */
  position: fixed;
  /* размеры кнопки */
  width: 60px;
  height: 60px;
  /* положение кнопки */
  right: 1rem;
  bottom: 1rem;
  /* вид курсора */
  cursor: pointer;
  /* эффект перехода между двумя состояниями кнопки */
  -webkit-transition: bottom 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: bottom 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  -ms-transition: bottom 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: bottom 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  transition: bottom 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}
/* смещение кнопки вверх при наведении */
.scrollTop:hover {
  bottom: 2rem;
}
/* дополнительные элементы офрмления кнопки */
.scrollTop:before,
.scrollTop:after {
  content: "";
  top: 0;
  left: 0;
  background-color: #d5b45b;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
}
/* определяем имя, тип и скорость анимации лля :before */
.scrollTop:before {
  background-color: #d5b45b;
  -webkit-animation: clickMe 1.8s 333ms infinite ease-out;
  -moz-animation: clickMe 1.8s 333ms infinite ease-out;
  animation: clickMe 1.8s 333ms infinite ease-out;
}
/* определяем имя, тип и скорость анимации лля :after */
.scrollTop:after {
  -webkit-animation: clickMe 1.8s 777ms infinite ease-out;
  -moz-animation: clickMe 1.8s 777ms infinite ease-out;
  animation: clickMe 1.8s 777ms infinite ease-out;
}
/* формируем вид иконки */
.scrollTop i {
  width: 30px;
  height: 30px;
  display: block;
  background: rgba(213, 180, 90, 0.61);
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 1.3rem;
  background-size: 12px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 100;
}
/* анимация */
@-webkit-keyframes clickMe {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes clickMe {
  0% {
    opacity: 0;
    -moz-transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes clickMe {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #D5B45B;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
  stroke-dashoffset: -64px;
}
.ham8.active .middle {
  transform: rotate(90deg);
}
.ham8.active .bottom {
  stroke-dashoffset: -64px;
}
.content-all.content-album {
  padding-top: 65px;
}
.content-all.content-album .content-header {
  position: relative;
}
.content-all.content-album .content-header .header-photo {
  width: 100%;
  height: calc(100vh - 250px);
  background-size: cover;
  background-attachment: fixed;
}
.content-all.content-album .content-header .header-description {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  background: rgba(64, 64, 64, 0.45);
  width: 100%;
  text-align: right;
  color: #fff;
}
.content-all.content-album .content-header .header-description p {
  margin: 0;
  font-weight: 400;
}
.content-all.content-album .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.content-all.content-album .content .item {
  width: 60%;
  margin: 3px 0;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
}
.content-all.content-album .content .item.visible {
  transform: translate(0);
}
.content-all.content-album .content .item img {
  max-width: 100%;
  transition: all 0.3s ease;
}
.content-all.content-album .content .item .item-description {
  margin-top: 0;
  line-height: 26px;
}
.content-all.content-album .content .item:hover img {
  transform: scale(1.02);
}
.content-all.content-album .content .description {
  width: 45%;
  text-align: center;
}
.content-all.content-album .content .description .description-header {
  font-size: 30px;
}
.content-all.content-album .content .description .description-small {
  font-size: 17px;
  line-height: 26px;
}
.wrapper .content-all.content-contacts {
  padding-top: 67px;
}
.wrapper .content-all.content-contacts .contacts {
  display: flex;
  width: 60%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  height: 81vh;
}
.wrapper .content-all.content-contacts .contacts .left-side {
  width: 50%;
}
.wrapper .content-all.content-contacts .contacts .left-side .contact-photo {
  width: 85%;
  margin: auto;
}
.wrapper .content-all.content-contacts .contacts .left-side .contact-photo img {
  max-width: 100%;
}
.wrapper .content-all.content-contacts .contacts .right-side {
  width: 50%;
}
.wrapper .content-all.content-contacts .contacts .right-side .contacts-info {
  width: 90%;
}
.wrapper .content-all.content-contacts .contacts .right-side .contacts-info a {
  text-decoration: none;
  outline: none;
  color: #404040;
  transition: all 0.5s ease;
}
.wrapper .content-all.content-contacts .contacts .right-side .contacts-info a:hover {
  color: #D5B45B;
}
.wrapper .content-all.content-contacts .contacts .right-side .contacts-info .name {
  margin-top: 0;
}
.wrapper .content-all.content-contacts .contacts .right-side .contacts-info .description {
  text-align: center;
  line-height: 25px;
}
.wrapper footer .contacts-footer {
  text-align: center;
}
.wrapper footer .contacts-footer span {
  font-size: 14px;
}
.wrapper .content-all.content-blog .grid {
  width: 60%;
  display: flex;
  margin: auto;
  flex-direction: column;
}
.wrapper .content-all.content-blog .grid .blog-item {
  display: flex;
  position: relative;
}
.wrapper .content-all.content-blog .grid .blog-item .item-photo {
  width: 50%;
}
.wrapper .content-all.content-blog .grid .blog-item .item-photo figure {
  width: 100%;
}
.wrapper .content-all.content-blog .grid .blog-item .item-photo figure.effect-lily img {
  width: calc(110% + 50px);
}
.wrapper .content-all.content-blog .grid .blog-item .item-preview {
  padding-left: 20px;
  width: 60%;
  text-align: left;
  display: flex;
  align-items: center;
}
.wrapper .content-all.content-blog .grid .blog-item .item-preview p {
  width: 90%;
  margin: auto 0 auto auto;
  font-size: 17px;
  line-height: 26px;
}
.wrapper .content-all.content-blog .grid .blog-item.revers {
  flex-direction: row-reverse;
}
.wrapper .content-all.content-blog .grid .blog-item.revers .item-preview {
  align-items: start;
  padding-left: 0;
  padding-right: 20px;
}
.wrapper .content-all.content-blog .grid .blog-item.revers .item-preview p {
  margin: auto auto auto 0;
}
.wrapper .content-all.content-blog .grid .blog-item.revers .item-footer {
  left: 0;
  right: auto;
}
.wrapper .content-all.content-blog .grid .blog-item .item-footer {
  position: absolute;
  right: 0;
  bottom: 0;
}
.wrapper .content-all.content-blog .grid .blog-item .item-footer .a-button {
  transition: all 0.3s ease;
  color: #D5B45B;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
.wrapper .content-all.content-blog .grid .blog-item .item-footer .a-button.learn-more {
  width: 9.5rem;
  height: auto;
}
.wrapper .content-all.content-blog .grid .blog-item .item-footer .a-button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 2.5rem;
  height: 2.5rem;
  background: #D5B45B;
  border-radius: 1.625rem;
}
.wrapper .content-all.content-blog .grid .blog-item .item-footer .a-button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
.wrapper .content-all.content-blog .grid .blog-item .item-footer .a-button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.325rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
.wrapper .content-all.content-blog .grid .blog-item .item-footer .a-button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
.wrapper .content-all.content-blog .grid .blog-item .item-footer .a-button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  font-size: 14px;
}
.wrapper .content-all.content-blog .grid .blog-item .item-footer .a-button:hover .circle {
  width: 100%;
}
.wrapper .content-all.content-blog .grid .blog-item .item-footer .a-button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
.wrapper .content-all.content-blog .grid .blog-item .item-footer .a-button:hover .button-text {
  color: #fff;
}
.wrapper .content-all.content-blog .grid .del {
  height: 1px;
  background: #D5B45B;
  margin: 40px auto;
  width: 10%;
}
footer {
  margin: 20px 0;
}
footer .footer_contacts .social_links {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
footer .footer_contacts .social_links ul {
  list-style: none;
  padding-left: 0;
}
footer .footer_contacts .social_links ul li {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid #D8E2DC;
  float: left;
  transition: all 0.5s ease;
  font-size: 1.6em;
}
footer .footer_contacts .social_links ul li a {
  text-decoration: none;
}
footer .footer_contacts .social_links ul li .fa,
footer .footer_contacts .social_links ul li .my-icon {
  color: #D8E2DC;
  margin-top: 7px;
  transition: all 0.5s ease;
}
footer .footer_contacts .social_links ul li:hover.instagram {
  border: 3px solid #bc2a59;
  transition: all 0.5s ease;
}
footer .footer_contacts .social_links ul li:hover.instagram .fa-instagram {
  color: #bc2a59;
  transition: all 0.5s ease;
}
footer .footer_contacts .social_links ul li:hover.whatsapp {
  border: 3px solid #4dc247;
  transition: all 0.5s ease;
}
footer .footer_contacts .social_links ul li:hover.whatsapp .fa-whatsapp {
  color: #4dc247;
  transition: all 0.5s ease;
}
footer .footer_contacts .social_links ul li:hover.vk {
  border: 3px solid #4a76a8;
  transition: all 0.5s ease;
}
footer .footer_contacts .social_links ul li:hover.vk .fa-vk {
  color: #4a76a8;
  transition: all 0.5s ease;
}
footer .footer_contacts .social_links ul li:hover.viber {
  border: 3px solid #8e24aa;
  transition: all 0.5s ease;
}
footer .footer_contacts .social_links ul li:hover.viber .icon-viber {
  color: #8e24aa;
  transition: all 0.5s ease;
}
footer .footer_contacts .mail,
footer .footer_contacts .telephone {
  margin-top: 0;
}
footer .footer_contacts .mail a,
footer .footer_contacts .telephone a {
  text-decoration: none;
  color: black;
  outline: none;
  transition: 0.3s ease-in-out;
}
footer .footer_contacts .mail a:hover,
footer .footer_contacts .telephone a:hover {
  color: #D5B45B;
}
@media only screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  header {
    justify-content: space-between;
  }
  header .logo {
    margin-left: 10px;
  }
  header .logo a {
    font-size: 1.9em;
  }
  header .menu {
    transform: translateX(100%);
    transition: all 0.3s ease;
    width: 100%;
    position: absolute;
    z-index: 100000;
    background: #fff;
    top: 80px;
  }
  header .menu nav {
    text-align: center;
  }
  header .menu nav ul.top_menu {
    flex-direction: column;
    text-align: center;
  }
  header .menu.active {
    display: block;
    transform: translateX(0);
  }
  .wrapper .content-all {
    height: 77vh;
    min-height: 77vh;
  }
  .wrapper .content-all.content-portfolio {
    height: auto;
    min-height: auto;
  }
  .wrapper .content-all.content-blog {
    height: auto;
    min-height: auto;
  }
  .wrapper .content-all.content-blog .grid {
    width: 100%;
  }
  .wrapper .content-all.content-blog .grid .blog-item {
    flex-direction: column;
  }
  .wrapper .content-all.content-blog .grid .blog-item .item-photo {
    width: 100%;
  }
  .wrapper .content-all.content-blog .grid .blog-item .item-preview {
    width: 98%;
    padding-left: 0;
    padding-top: 10px;
  }
  .wrapper .content-all.content-blog .grid .blog-item .item-preview p {
    width: 96%;
    font-size: 16px;
    line-height: 22px;
  }
  .wrapper .content-all.content-blog .grid .blog-item .item-footer {
    right: auto;
    bottom: -50px;
    left: 15px;
  }
  .wrapper .content-all.content-blog .grid .blog-item.revers {
    flex-direction: inherit;
  }
  .wrapper .content-all.content-blog .grid .blog-item.revers .item-preview {
    padding-left: 15px;
    padding-right: 0;
  }
  .wrapper .content-all.content-blog .grid .blog-item.revers .item-footer {
    left: 15px;
  }
  .wrapper .content-all.content-blog .grid .del {
    margin: 70px auto 40px auto;
  }
  .wrapper .content-all.content-album {
    min-height: auto;
    height: auto;
    padding-top: 85px;
  }
  .wrapper .content-all.content-album .content-header .header-photo {
    background-size: contain;
    height: 200px;
  }
  .wrapper .content-all.content-album .content-header .header-description {
    font-size: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .wrapper .content-all.content-album .content .description {
    width: 96%;
  }
  .wrapper .content-all.content-album .content .description .description-header {
    font-size: 25px;
    margin: 15px;
  }
  .wrapper .content-all.content-album .content .description .description-small {
    font-size: 16px;
    line-height: 21px;
    margin-top: 0;
  }
  .wrapper .content-all.content-album .content .item {
    width: 98%;
  }
  .wrapper .content-all.content-album .content .item .item-description {
    line-height: 20px;
    font-size: 15px;
  }
  .wrapper .content-wrapper .slider_content .owl-nav {
    top: 50%;
  }
  .wrapper .content-wrapper .slider_content button.owl-prev {
    left: 2%;
    font-size: 30px;
  }
  .wrapper .content-wrapper .slider_content button.owl-next {
    right: 2%;
    font-size: 30px;
  }
  .grid figure {
    height: 300px;
  }
}
/*# sourceMappingURL=main.css.map */