header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0px -8px 8px 4px;
  position: fixed;
  background: #fff;
  width: 100%;
  z-index: 1000;
}
header .logo {
  color: #D5B45B;
  font-family: 'Playfair Display', serif;
  padding: 10px 0;
}
header .logo a {
  font-size: 2.5em;
  text-decoration: none;
  color: inherit;
}
header .logo span {
  display: block;
  text-align: center;
}
header .menu {
  display: flex;
  width: 70%;
}
header .menu nav {
  display: table;
  margin: 0 auto;
}
header .menu nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header .menu nav ul a,
header .menu nav ul span {
  text-decoration: none;
  outline: none;
  display: block;
  transition: 0.3s ease-in-out;
}
header .menu nav ul.top_menu {
  display: flex;
  justify-content: space-between;
}
header .menu nav ul.top_menu:after {
  content: "";
  display: table;
  clear: both;
}
header .menu nav ul.top_menu > li {
  float: left;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
header .menu nav ul.top_menu > li .submenu {
  background: #273037;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  width: 180px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: 0.5s ease-in-out;
}
header .menu nav ul.top_menu > li .submenu a,
header .menu nav ul.top_menu > li .submenu span {
  color: white;
  text-align: left;
  padding: 12px 15px;
  font-size: 13px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
header .menu nav ul.top_menu > li .submenu li:last-child a {
  border-bottom: none;
}
header .menu nav ul.top_menu > li > a,
header .menu nav ul.top_menu > li > span {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  color: #404040;
  padding: 15px 20px;
}
header .menu nav ul.top_menu > li span.submenu-link:after {
  content: "\f107";
  font-family: "FontAwesome";
  color: inherit;
  margin-left: 10px;
}
header .menu nav ul.top_menu > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}
header .menu nav ul.top_menu li a:hover,
header .menu nav ul.top_menu li span:hover {
  color: #D5B45B;
  cursor: pointer;
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v19/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkKEo58a-xw.ttf) format('truetype');
}
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}
.my-icon {
  line-height: inherit;
}
.text-center {
  text-align: center;
}
.slider_content .main_slider .owl-item .item {
  width: 100%;
  height: calc(100vh - 200px);
  background-size: cover;
  background-position: 100%;
}
.slider_content .main_slider .owl-item .item:before {
  content: "";
  background: #020202;
  opacity: 0.8;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.slider_content .main_slider .owl-item.active.center .item:before {
  opacity: 0;
}
.wrapper {
  height: 100vh;
}
.wrapper .content-all {
  min-height: 80vh;
}
.wrapper .content-all .grid {
  padding-top: 95px;
}
.wrapper .content-wrapper .slider_content .owl-nav {
  position: absolute;
  width: 100%;
  top: 45%;
}
.wrapper .content-wrapper button.owl-next {
  font-size: 50px;
  color: #fff;
  right: 5%;
  position: absolute;
  outline: none;
  opacity: 0.3;
  transition: all 0.5s ease;
}
.wrapper .content-wrapper button.owl-next:hover {
  opacity: 1;
}
.wrapper .content-wrapper button.owl-prev {
  font-size: 50px;
  color: #fff;
  left: 5%;
  position: absolute;
  outline: none;
  opacity: 0.3;
  transition: all 0.5s ease;
}
.wrapper .content-wrapper button.owl-prev:hover {
  opacity: 1;
}
.content-album .content-header {
  position: relative;
}
.content-album .content-header .header-photo {
  width: 100%;
  height: calc(100vh - 250px);
  background-size: cover;
  background-attachment: fixed;
}
.content-album .content-header .header-description {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  background: rgba(64, 64, 64, 0.45);
  width: 100%;
  text-align: right;
  color: #fff;
}
.content-album .content-header .header-description p {
  margin: 0;
  font-weight: 400;
}
.content-album .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.content-album .content .item {
  width: 50%;
  margin: 15px 0;
  text-align: center;
  transform: translateY(50px);
  transition: all 0.6s ease-in-out;
}
.content-album .content .item.visible {
  transform: translate(0);
}
.content-album .content .item img {
  max-width: 100%;
}
.content-album .content .item .item-description {
  margin-top: 0;
}
.content-album .content .description {
  width: 45%;
  text-align: center;
}
.content-album .content .description .description-header {
  font-size: 30px;
}
.content-album .content .description .description-small {
  font-size: 17px;
}
.wrapper .content-all.content-contacts {
  padding-top: 67px;
}
.wrapper .content-all.content-contacts .contacts {
  display: flex;
}
.wrapper .content-all.content-contacts .contacts .left-side {
  width: 50%;
}
.wrapper .content-all.content-contacts .contacts .left-side .contact-photo img {
  max-width: 100%;
}
.wrapper .content-all.content-contacts .contacts .right-side {
  width: 50%;
}
.wrapper .content-all.content-contacts .contacts .right-side .contacts-info {
  margin: 20px;
}
.wrapper .content-all.content-contacts .contacts .right-side .contacts-info a {
  text-decoration: none;
  outline: none;
  color: #404040;
  transition: all 0.5s ease;
}
.wrapper .content-all.content-contacts .contacts .right-side .contacts-info a:hover {
  color: #D5B45B;
}
.wrapper footer .contacts-footer {
  text-align: center;
}
.wrapper footer .contacts-footer span {
  font-size: 14px;
}
.wrapper .content-all.content-blog .grid {
  width: 70%;
  display: flex;
  margin: auto;
  flex-direction: column;
}
.wrapper .content-all.content-blog .grid .blog-item {
  display: flex;
  position: relative;
}
.wrapper .content-all.content-blog .grid .blog-item .item-photo {
  width: 40%;
}
.wrapper .content-all.content-blog .grid .blog-item .item-photo figure {
  width: 100%;
}
.wrapper .content-all.content-blog .grid .blog-item .item-preview {
  padding-left: 20px;
  width: 60%;
  text-align: left;
  display: flex;
  align-items: center;
}
.wrapper .content-all.content-blog .grid .blog-item .item-preview p {
  margin: 0;
}
.wrapper .content-all.content-blog .grid .blog-item.revers {
  flex-direction: row-reverse;
}
.wrapper .content-all.content-blog .grid .blog-item.revers .item-preview {
  align-items: start;
  padding-left: 0;
  padding-right: 20px;
}
.wrapper .content-all.content-blog .grid .blog-item.revers .item-footer {
  left: 0;
  right: auto;
}
.wrapper .content-all.content-blog .grid .blog-item .item-footer {
  position: absolute;
  right: 0;
  bottom: 0;
}
.wrapper .content-all.content-blog .grid .blog-item .item-footer .a-button {
  transition: all 0.3s ease;
  color: #D5B45B;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
.wrapper .content-all.content-blog .grid .blog-item .item-footer .a-button.learn-more {
  width: 12rem;
  height: auto;
}
.wrapper .content-all.content-blog .grid .blog-item .item-footer .a-button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #D5B45B;
  border-radius: 1.625rem;
}
.wrapper .content-all.content-blog .grid .blog-item .item-footer .a-button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
.wrapper .content-all.content-blog .grid .blog-item .item-footer .a-button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
.wrapper .content-all.content-blog .grid .blog-item .item-footer .a-button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
.wrapper .content-all.content-blog .grid .blog-item .item-footer .a-button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
}
.wrapper .content-all.content-blog .grid .blog-item .item-footer .a-button:hover .circle {
  width: 100%;
}
.wrapper .content-all.content-blog .grid .blog-item .item-footer .a-button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
.wrapper .content-all.content-blog .grid .blog-item .item-footer .a-button:hover .button-text {
  color: #fff;
}
.wrapper .content-all.content-blog .grid .del {
  height: 1px;
  background: #D5B45B;
  margin: 40px auto;
  width: 10%;
}
footer {
  margin: 20px 0;
}
footer .footer_contacts .social_links {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
footer .footer_contacts .social_links ul {
  list-style: none;
  padding-left: 0;
}
footer .footer_contacts .social_links ul li {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid #D8E2DC;
  float: left;
  transition: all 0.5s ease;
  font-size: 1.6em;
}
footer .footer_contacts .social_links ul li a {
  text-decoration: none;
}
footer .footer_contacts .social_links ul li .fa,
footer .footer_contacts .social_links ul li .my-icon {
  color: #D8E2DC;
  margin-top: 7px;
  transition: all 0.5s ease;
}
footer .footer_contacts .social_links ul li:hover.instagram {
  border: 3px solid #bc2a59;
  transition: all 0.5s ease;
}
footer .footer_contacts .social_links ul li:hover.instagram .fa-instagram {
  color: #bc2a59;
  transition: all 0.5s ease;
}
footer .footer_contacts .social_links ul li:hover.whatsapp {
  border: 3px solid #4dc247;
  transition: all 0.5s ease;
}
footer .footer_contacts .social_links ul li:hover.whatsapp .fa-whatsapp {
  color: #4dc247;
  transition: all 0.5s ease;
}
footer .footer_contacts .social_links ul li:hover.vk {
  border: 3px solid #4a76a8;
  transition: all 0.5s ease;
}
footer .footer_contacts .social_links ul li:hover.vk .fa-vk {
  color: #4a76a8;
  transition: all 0.5s ease;
}
footer .footer_contacts .social_links ul li:hover.viber {
  border: 3px solid #8e24aa;
  transition: all 0.5s ease;
}
footer .footer_contacts .social_links ul li:hover.viber .icon-viber {
  color: #8e24aa;
  transition: all 0.5s ease;
}
footer .footer_contacts .mail,
footer .footer_contacts .telephone {
  margin-top: 0;
}
footer .footer_contacts .mail a,
footer .footer_contacts .telephone a {
  text-decoration: none;
  color: black;
  outline: none;
  transition: 0.3s ease-in-out;
}
footer .footer_contacts .mail a:hover,
footer .footer_contacts .telephone a:hover {
  color: #D5B45B;
}
/*# sourceMappingURL=main.css.map */